# Kapitel 2 - Das Korpus

In [28]:
import pandas as pd

TODO: Relevanz von Korpus

Quelle: https://monkeylearn.com/text-classification/

Text Klassifikation kann nur durchgeführt werden, wenn man Daten zur Verfügung hat, die man klassifizieren möchte. Das braucht man mindestens zwei Dinge: Einen Text und die Klasse dieses Textes. Eine Klasse kann alles mögliche sein, zum Beispiel ... oder die Bewertung eines Films basiernd auf einer Rezension.<br> Hier ein Beispiel:

In [26]:
d = {"r1": [1, "Dieser Film war so genial!"], 
     "r2": [6, "Schlechtester Film aller Zeiten!!!!1!!!1!!"],
     "r3": [3, "Er war schon okay"],
     "r4": [1, "Ich will den Film für den Rest meines Lebens jeden Tag gucken :O"],
     "r5": [2, "Richtig guter Film mit kleineren Schwächen"],
     "r6": [4, "Naja, gibt besseres, aber auch schlechteres, wenn auch nicht viel..."],
     "r7": [5, "Bis auf die Songauswahl war der Film zum Kotzen"]}
df = pd.DataFrame.from_dict(d, orient="index", columns=["Note", "Rezension"])
df

    Note                                          Rezension
r1     1                         Dieser Film war so genial!
r2     6         Schlechtester Film aller Zeiten!!!!1!!!1!!
r3     3                                  Er war schon okay
r4     1  Ich will den Film für den Rest meines Lebens j...
r5     2         Richtig guter Film mit kleineren Schwächen
r6     4  Naja, gibt besseres, aber auch schlechteres, w...
r7     5    Bis auf die Songauswahl war der Film zum Kotzen

Dieser Datensatz ist nicht besonders groß. Eine Textklassifizierung wäre hier nicht nötig, da dies von Menschen schneller erledigt werden kann. Interessant wird es jedoch, wenn die Datensätze größer werden. Dort können durch Textklassifizierungs-Verfahren automatisch neue Texte Klassen zugeordnet werden, basiernd auf Datensätze, die ein Modell zuvor gelernt hat (AF). Dazu brauch man jedoch einen Datensatz. Dies ist oft ein schwieriger Punkt, vor allem in der deutschen Sprache, da die meisten vorgefertigten Datensätze, die wir für die Textklassifikation nutzen können, nur auf englisch vorliegen. In dieser Tutorial-Reihe werden wir uns einen deutschen Datensatz angucken, den ich selbst erstellt habe. Er ist eine verbesserte Version eines Datensatzes, der im Zuge des "Word Embeddings"-Seminars an der Julius-Maximilians-Universität entstanden ist.

## Aufbau des Wikipedia-Datensatzes

Um mit Datensätzen zu arbeiten, ist es hilfreich, sich genauer mit dem Datensatz auseinanderzusetzen. Dazu laden wir die ersten paar Einträge des "wikicorpus.csv":

In [76]:
corpus = pd.read_csv("tutorialdata/wikicorpus.csv")
corpus.head()

,id,category,length,text
0,0,Fernsehserie nach Staat,107,"Tāmar und Schawqīya (arabisch تامر وشوقية, DMG..."
1,1,Fernsehserie nach Staat,518,Achtung: Streng geheim! (Originaltitel: Missio...
2,2,Fernsehserie nach Staat,877,Alien Surfgirls ist eine australische Jugendse...
3,3,Fernsehserie nach Staat,1199,All Saints ist eine australische Fernsehserie ...
4,4,Fernsehserie nach Staat,142,Alle lieben Diggy ist eine australische Zeiche...

Jede Zeile unseres Datensatz repräsentiert einen Artikel von Wikipedia. Jeder Artikel hat 4 Eigenschaften, repräsentiert durch die Spalten: Eine ID (<b>"id"</b>), eine Kategorie (<b>"category"</b>, eine Länge (<b>"length"</b>) und der Artikel selber (<b>"text"</b>").

TODO